<div class="wrapper">
  <ul>
    <li>
      <div>
        <a routerLink="dentists-list">Врачи</a>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div>
        <a routerLink="patients-list">Пациенты</a>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div>
        <a routerLink="specializations-list">Специализации</a>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div>
        <a routerLink="working-schedule-list">Рабочее расписание</a>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div>
        <a routerLink="news-list">Новости</a>
      </div>
    </li>
  </ul>
</div>
