<div class="create-form-container">
  <form class="create-form" [formGroup]="dentistUpdateForm">
    <div class="nsp">
      <div class="name">
        <label for="name"><span class="red-color">*</span>Имя:</label>
        <div>
          <input type="text" id="name" formControlName="name">
        </div>
        @if(!dentistUpdateForm.controls.name.valid && dentistUpdateForm.controls.name.touched){
          <small style="color: red;">Поля обязательно для заполнения</small>
        }
      </div>
      <div class="surname">
        <div>
          <label for="surname"><span class="red-color">*</span>Фамилия:</label>
          <div>
            <input type="text" id="surname" formControlName="surname">
          </div>
          @if(!dentistUpdateForm.controls.surname.valid && dentistUpdateForm.controls.surname.touched){
            <small style="color: red;">Поля обязательно для заполнения</small>
          }
        </div>
      </div>
      <div>
        <label for="patronymic">Отчество:</label>
        <div>
          <input type="text" id="patronymic" formControlName="patronymic">
        </div>
      </div>
    </div>

    <div class="work-info">
      <div class="specialization-select">
        <label for="specialization">Специализация:</label>
          <select id="specialization" formControlName="specialization">
            @for (specialization of specializations; track specialization){
              <option [value]="specialization.name">{{specialization.name}}</option>
            }
          </select>
      </div>
      <div>
        <label for="cabinetNumber">Номер кабинета: </label>
        <input type="number" id="cabinetNumber" formControlName="cabinetNumber" min="1" max="26">
        @if(!dentistUpdateForm.controls.cabinetNumber.valid && dentistUpdateForm.controls.cabinetNumber.touched){
          <small style="color: red;">Номер кабинета от 1 до 26</small>
        }
        @if (errorMessages['CabinetNumber']) {
          <small class="red-color">{{ errorMessages['CabinetNumber'] }}</small>
        }
      </div>
    </div>

    <div class="login-credentials">
      <div>
        <label for="email"><span class="red-color">*</span>Электронная почта:</label>
        <div>
          <input type="text" id="email" formControlName="email">
        </div>
        @if(!dentistUpdateForm.controls.email.valid && dentistUpdateForm.controls.email.touched){
          <small style="color: red;">Поля обязательно для заполнения</small>
        }
        @if (errorMessages['EmailExists']) {
          <small class="red-color">{{ errorMessages['EmailExists'] }}</small>
        }
      </div>
      <div>
        <label for="password"><span class="red-color">*</span>Пароль:</label>
        <div>
          <input type="password" id="password" formControlName="password">
        </div>
        @if(!dentistUpdateForm.controls.password.valid && dentistUpdateForm.controls.password.touched){
          <small style="color: red;">Поля обязательно для заполнения</small>
        }
      </div>
    </div>
    <div>
      <label for="birthDate"><span class="red-color">*</span>Дата рождения:</label>
      <div>
        <input type="date" id="birthDate" formControlName="birthDate">
      </div>
      @if(!dentistUpdateForm.controls.birthDate.valid && dentistUpdateForm.controls.birthDate.touched){
        <small style="color: red;">Поля обязательно для заполнения</small>
      }
      @if(errorMessages['BirthDate']){
        <small class="red-color">{{ errorMessages['BirthDate'] }}</small>
      }
    </div>

    <div>
      <div>
        <label for="phoneNumber"><span class="red-color">*</span>Номер телефона</label>
        <div>
          <input formControlName="phoneNumber" id="phoneNumber" mask="(00)000-00-00" prefix="+375" type='text'>
        </div>
        @if(!dentistUpdateForm.controls.phoneNumber.valid && dentistUpdateForm.controls.phoneNumber.touched){
          <small style="color: red;">Поля обязательно для заполнения</small>
        }
      </div>
      <div>
        <label for="address"><span class="red-color">*</span>Адрес:</label>
        <div>
          <input formControlName="address" id="address" type="text">
        </div>
        @if (!dentistUpdateForm.controls.address.valid && dentistUpdateForm.controls.address.touched) {
          <small style="color: red;">Поля обязательно для заполнения</small>
        }
      </div>
    </div>
    <button type="submit" class="registration-button" (click)="update()">Обновить</button>
  </form>
</div>
