<div class="wrapper">
  <h4 class="title">Записи</h4>
  <input class="date-input" [(ngModel)]="selectedDate" (ngModelChange)="loadAppointments()" type="date">

  <div class="content">
    @for (appointment of appointmentsDetails?.items; track appointment){
      <div class="appointment-info">
        <div class="dateTime">
          <h5>{{appointment.appointmentTime | dateToHHmm}}</h5>
        </div>
        <div class="patient">
          <h5>{{appointment.patientSurname}} {{appointment.patientName}} {{appointment.patientPatronymic}}</h5>
        </div>
        <div>
          <button class="reenrollment-button" (click)="patientReenrolment(appointment.patientId)">Повторная запись</button>
        </div>
      </div>
    }
  </div>

  <div class="pagination">
    <button class="page-button" (click)="previousPage()" [disabled]="!appointmentsDetails?.hasPreviousPage">Назад</button>
    <button class="page-button" (click)="nextPage()" [disabled]="!appointmentsDetails?.hasNextPage">Вперед</button>
  </div>
</div>
