<div class="wrapper">
  <h4>Новости</h4>
  <div class="news-list">
    @for (news of items?.items; track news) {
      <div class="news-item" (click)="this.router.navigateByUrl('/news/'+news.id)">
        <h5 class="news-title">{{ news.title }}</h5>
        <p class="news-text">{{ news.text | truncate:45 }}</p>
        <div class="news-footer">
          <small class="news-date">{{ news.createdAt | date:'dd.MM.yyyy' }}</small>
        </div>
      </div>
    }
  </div>
  @if(items){
    <div class="pagination-wrapper">
      <div class="pagination">
        <button class="page-button" (click)="previousPage()" [disabled]="items.hasPreviousPage">Назад</button>
        <button class="page-button" (click)="nextPage()" [disabled]="items.hasNextPage">Вперед</button>
      </div>
    </div>
  }
</div>
