label {
  margin-bottom: 0.8em;
}

input {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.8em;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: 1px solid black;
  border-radius: 1.2em;
  padding: 2em;
}

.red-color{
  color: red;
}

.registration-button {
  width: 75%;
  padding: 2%;
  border: none;
  border-radius: 12px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  align-self: center;
  margin-bottom: 1em;
}
