.schedule-button {
  margin-top: 2px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  transition: background-color 0.3s ease;
}
