<div class="burger-menu" (click)="toggleMenu()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
  </svg>
</div>

<div class="side-menu" [ngClass]="{'open': isOpen}">
  <ng-container *ngIf="!authService.isLogin()">
    <a routerLink="/login" (click)="toggleMenu()">Войти</a>
    <a routerLink="/registration" (click)="toggleMenu()">Регистрация</a>
  </ng-container>

  <ng-container *ngIf="authService.isLogin()">
    <a *ngIf="authService.currentUserSignal()?.roles!.includes('Admin')" routerLink="admin" (click)="toggleMenu()">Панель администратора</a>
    <a *ngIf="authService.currentUserSignal()?.roles!.includes('Dentist')" routerLink="dentist/appointments-list" (click)="toggleMenu()">Панель врача</a>
    <ng-container *ngIf="authService.currentUserSignal()?.roles!.includes('Patient')">
      <a routerLink="appointment" (click)="toggleMenu()">Запись</a>
      <a routerLink="appointments" (click)="toggleMenu()">Записи</a>
      <a routerLink="notifications" (click)="toggleMenu()">Уведомления</a>
      <a routerLink="update" (click)="toggleMenu()">Изменить</a>
    </ng-container>
    <a (click)="logout(); toggleMenu()">Выйти</a>
  </ng-container>
</div>
