.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.block{
  width: calc(33.33% - 20px);
  margin: 1.5vh;
  line-height: 1;
  display: flex;
  text-align: center;
}

.block-content{
}

.block:hover {
  cursor: pointer;
}

.active {
  visibility: hidden;
  background-color: #007bff;
  width: 5px;
}

.block:hover .active {
  visibility: visible;
}

@media screen and (max-width: 700px) {
  .block {
    width: 100%;
    margin: 10px 0;
  }
}
