.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.schedule-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.schedule-table tr:hover {
  background-color: #ddd;
}

.update-button, .delete-button {
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #da190b;
}

.create-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #0056b3;
}

.available-schedule{
  padding: 5px;
}

.add-to-button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #e0f3ff;
}
